<main>
    <h1>Directiva <code>[ngStyle]</code></h1>
    <p>La Directivs <code>ngStyle</code>sirve para colocar estilos en linea a las etiquetas HTML</p>
    <h3>Ejemplo usando el atributo <code>style</code></h3>
    <hr>
    <p style="color: violet">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Odio, inventore laudantium?
        Tempore, deserunt? Mollitia ipsa voluptatibus animi minus tenetur maiores iste quod atque provident, molestiae
        expedita laborum inventore, amet ipsam!</p>
    <hr>
    <h3>Ejemplo usando la directiva <code>[ngStyle]</code></h3>
    <p [ngStyle]="{'background-color': 'red', 'column-count':2}">Lorem, ipsum dolor sit amet consectetur adipisicing
        elit. Odit, quas qui omnis dolorum quia odio magnam sunt maiores repudiandae, soluta molestias saepe blanditiis
        quaerat. Numquam modi facilis quia nostrum hic.</p>
</main>